body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: #02203c;
  color: #fff;
  padding: 2rem 0;
}

.footer-col-one {
  margin-bottom: 0.7rem;
}

.footer-col-one span {
  border-right: 2px solid black;
  padding: 0 0.9rem;
}

.footer-col-one span:nth-of-type(8) {
  border: none;
}

.navbar {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(-90deg, #02203c, #001528);
}

.navbar-links {
  margin-right: 1.2rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #333;
}

.toggle-button {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.nav-logo {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 2rem;
  color: #fff;
}

.nav-logo img {
  height: 55px;
  width: 55px;
}

.landing {
  width: 100%;
  min-height: 540px;
  color: #fff;
  background-image: url("./public/code6.jpg");
  display: flex;

  background-size: cover;
  background-position: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}

.landing h1 {
  font-size: 3.5rem;
  letter-spacing: 1px;
  margin-bottom: 0.2rem;
}

.courses,
.score {
  min-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-header {
  font-size: 2.5rem;
}

.landing-button {
  cursor: pointer;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  background-color: #0d2f50;
  margin-top: 3rem;
  border-radius: 10px;

  transition-duration: 100ms;
  transition-property: background-color;
  transition-timing-function: ease-in;
}

.landing-button:hover {
  background-color: #17497a;
}

.courses-responsive {
  display: none;
}

.courses img {
  width: 55px;
  height: 55px;
}

.courses h1 {
  margin-top: 4rem;
}

.card-container {
  width: 80%;
  display: grid;
  grid-template-columns: 30% 30% 30%;

  margin-top: 3rem;
  gap: 3rem;
}

.course-card {
  height: 250px;
  border-radius: 4px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-color: #fff;
  text-decoration: none;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.course-card h3 {
  font-size: 1.5rem;
}

.course-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 6px 25px;
}

.course-card:hover h3 {
  color: #17497a;
}

#tiers,
#companies {
  min-height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #02203c;
  padding: 7rem 0rem;
  padding-bottom: 4rem;
}

#tiers h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #fff;
}

.language-section {
  min-height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #02203c;
  color: #fff;
  padding-top: 7rem;
  padding-bottom: 4rem;
}

.offers {
  min-height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 6rem;
  background-color: #f6f6f6;
}

.offer-container {
  display: flex;
  align-items: center;
  width: 86%;
}

.offer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
}

.offer-text p {
  width: 82%;
  font-size: 1.5rem;
  color: rgb(121, 121, 121);
}

.offer-text ul {
  font-size: 1.09rem;
  list-style: none;
}

.offer-text li {
  margin-bottom: 0.8rem;
}

.offer-text li::before {
  content: "\2022";
  color: #02203c;
  margin-right: 1rem;
}

.offer-container img {
  width: 480px;
  height: auto;
}

#companies {
  justify-content: center;
}

#panel-container {
  border-radius: 0.5rem;
  width: 70%;
  min-height: 450px;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding-bottom: 3%;
}

#grid-container {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.tier-card {
  height: 100%;
  margin-top: 30px;
  text-align: center;
}

.tier-card h3 {
  color: rgb(134, 134, 134);
  text-transform: uppercase;
  margin-top: 0.8rem;
}

.tier-card h4 {
  margin-top: 2.8rem;
  margin-bottom: 2rem;
}

.tier-card p {
  height: 16%;
}

.tier-card button {
  text-transform: uppercase;
  width: 120px;
  height: 50px;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  border: 1px solid #17497a;
  color: #17497a;
  background-color: #fff;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition-duration: 100ms;
  transition-property: background-color;
  transition-timing-function: ease-in;
}

#premium-button {
  background-color: #0d2f50;
  color: #fff;
}

#premium-button:hover {
  background-color: #17497a;
}

.tier-button:hover {
  border-color: #0d2f50;
  border-width: 2px;
  color: #0d2f50;
}

.tier-card img {
  width: 40%;
  height: auto;
}

.tier-card:nth-of-type(1),
.tier-card:nth-of-type(2) {
  border-right: 2px solid rgb(204, 204, 204);
}

#carousel-container {
  width: 90%;
  height: 450px;
  background-color: #fff;
  border-radius: 0.5em;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.carousel {
  display: flex;
  align-items: center;
  filter: grayscale(100);
  opacity: 0.2;
  animation-name: move-left;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.carousel:nth-of-type(2) {
  animation-name: move-right;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.carousel img {
  margin: 0rem 2rem;
  height: 48px;
  width: auto;
  vertical-align: middle;
}

#company-header {
  text-align: center;
}

#company-header h3 {
  margin-top: 0.6rem;
  color: rgb(134, 134, 134);
}

#languages {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
}

#languages img {
  width: 90px;
  height: auto;
}

.section-subheader {
  font-size: 1.4rem;
}

@keyframes move-left {
  100% {
    transform: translate(-50%);
  }
}

@keyframes move-right {
  100% {
    transform: translate(50%);
  }
}

@media (max-width: 1000px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .nav-logo {
    margin-left: 4rem;
  }

  .landing {
    background: linear-gradient(-90deg, #02203c, #001528);
    text-align: center;
  }

  .courses {
    display: none;
  }

  .courses-responsive {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
  }

  .course-links-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .course-link {
    width: 94%;
    margin: 1rem 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .arrow {
    position: absolute;
    right: 0;
    margin-right: 1.2rem;
    font-size: 2em;
    color: red;
    transition-duration: 100ms;
    transition-property: transform;
    transition-timing-function: ease-in;
  }

  .course-link:hover h3 {
    color: red;
  }

  .course-link:hover .arrow {
    transform: translateX(0.5rem);
  }

  .course-link:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 12px 24px;
  }

  .offer-img {
    display: none;
  }

  .offer-text p {
    text-align: center;
  }

  #languages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    justify-items: center;
    margin-top: 1rem;
  }

  #languages img {
    width: 70px;
    height: auto;
  }

  #grid-container {
    display: flex;
    flex-direction: column;
  }

  .tier-card p {
    display: none;
  }

  .tier-card h3 {
    margin-top: 0.6rem;
  }

  .tier-card h4 {
    margin-top: 0.6rem;
    margin-bottom: 0;
  }
  .tier-card img {
    width: 120px;
  }

  .tier-card:nth-of-type(1),
  .tier-card:nth-of-type(2) {
    border-right: none;
    border-bottom: 2px solid rgb(204, 204, 204);
  }

  footer {
    padding-bottom: 4.5rem;
    padding-top: 3rem;
  }

  .footer-col-one {
    margin-bottom: 0.7rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-col-one span {
    border-right: 2px solid black;
    padding: 0 0.9rem;
    margin-bottom: 1rem;
  }

  .footer-col-two {
    text-align: center;
  }

  .section-header {
    text-align: center;
  }

  .section-subheader {
    text-align: center;
  }
}
